<!-- Head html -->
<%- include("Partials/header") -%>
<h1>Compose</h1>
<form action="/compose" method="post">
    <div class="mb-3">
        <label for="postTitle" class="form-label">Title</label><br>
        <input type="text" class="form-control" name="postTitle"><br><br>
    </div>
    <div class="mb-3">
        <label for="message" class="form-label">Post</label><br>
        <textarea class="form-control" name="message" rows="4"></textarea><br><br>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Publish</button>
    </div>
    
</form>

<!-- footer html -->
<%- include("Partials/footer") -%>